.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ffffff9f, rgba(2, 28, 46, 0.767));
  text-align: center;
  align-items: center;
  padding: calc(var(--btn-width) / 2);
  position: fixed;
  top: 0;
  z-index: 5;

  & input {
    border-radius: var(--input-radius);
    border: var(--border) solid lightsteelblue;
    height: calc(var(--btn-width) + var(--border) * 2);
    font-size: 20px;
    width: calc(var(--input-width));
    color: #1c1c26;
    padding: 0 10px;
    vertical-align: middle;
    z-index: 10;

    @media (max-width: 480px) {
      width: fit-content;
      // width: 80%;
      // font-size: 14px;
    }

    &:focus {
      border-color: #022c4b;
    }
  }

  & button {
    border-radius: 0 var(--input-radius) var(--input-radius) 0;
    z-index: 20;
    margin-left: calc(-1 * var(--btn-width) - var(--border));
    width: var(--btn-width);
    height: var(--btn-width);
    border: 1px solid transparent;
    background-color: #afcbf54f;
    background-image: url(../images/search.svg);
    color: black;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: calc(var(--btn-width) / 2);
    background-position: center;
    cursor: pointer;
  }

  .logo_img {
    position: relative;
    margin-right: 10px;
    border-radius: 12px;

    /*Устанавливаем плавный переход при наведении курсора мыши */
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;

    &:hover {
      border: 1px solid rgba(231, 238, 243, 0.767);
    }
  }
}
